@charset "utf-8";

.content {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.contentbox {
  width: 100%;
  position: absolute;
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  border-color: #666;
  border-style: none solid none solid;
  border-width: 1px;
}

header {
  margin: 0 auto;
  width: 100%;
  height: 110px;
  background-color: #e2d0b8;
  border-bottom: 1px solid #333;
}

#logo {
  width: 225px;
  height: 80px;
  margin: 0 auto;
  padding: 15px 0;
}

nav {
  width: 400px;
  height: 20px;
  float: left;
  margin: 15px;
}

nav ul {
  margin-left: -30px;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
  padding: 0 20px;
  font-family: "Anton", sans-serif;
}

nav ul li a:hover {
  opacity: 0.7;
}

header #iconimg {
  position: absolute;
  right: 0;
  float: left;
  width: 100px;
  margin: 15px 0;
}

header #iconimg img:first-child {
  width: 35px;
  height: 35px;
}

header #iconimg img:last-child {
  width: 35px;
  height: 30px;
  margin-right: 12px;
}

header #iconimg img:hover {
  opacity: 0.7;
}

#product {
  margin: 0 auto;
  width: 100%;
  height: 785px;
  background-color: #e2d0b8;
  overflow: hidden;
}

#protextbox {
  height: 350px;
  padding-top: 40px;
}

#protextbox p {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  animation-name: p;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes p {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

#protext {
  font-size: 70pt;
  margin: 20px 0;
}

#protextbox p:first-child,
#protextbox p:last-child {
  font-size: 25px;
}

#product #rye {
  position: absolute;
  top: 0;
  left: 0;
  margin: 50px -190px;
  width: 180px;
  opacity: 0;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#product #proof {
  position: absolute;
  z-index: 2;
  width: 400px;
  top: 0;
  left: 0;
  margin: 200px -50px;
  opacity: 0;
  animation-delay: 1.2s;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#product #frank {
  position: absolute;
  z-index: 3;
  width: 190px;
  top: 0;
  left: 0;
  margin: 480px 180px;
  opacity: 0;
  animation-delay: 1.2s;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#product #glass {
  position: absolute;
  right: 0;
  width: 1100px;
  margin: 90px 90px;
  opacity: 0;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#product #jackhoney {
  position: absolute;
  width: 350px;
  bottom: 0;
  right: 0;
  margin: 40px 20px;
  opacity: 0;
  animation-delay: 2.8s;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#product #fire {
  position: absolute;
  width: 500px;
  top: 0;
  right: 0;
  margin: -1px -255px;
  opacity: 0;
  animation-delay: 3.6s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

#product #ourproducts {
  padding: 10px;
  background-color: #e2d0b8;
  border: 2px solid #333;
  border-radius: 10px;
  margin: 70px 640px;
  font-family: "Concert One", cursive;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 1px 1px;
  position: relative;
  z-index: 5;
}

#product #ourproducts:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.1);
}

#product img {
  animation-name: opa;
}

@keyframes opa {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

#recipes {
  margin: 0 auto;
  width: 100%;
  height: 950px;
  background-color: #020100;
}

#recipes #recipesbox p,
span {
  color: #fff;
  font-family: "Ysabeau SC", sans-serif;
}

#recipesbox {
  float: right;
  text-align: center;
  font-size: 30px;
  margin: 260px 20px;
}

#recipesbox select {
  border: none;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  width: 150px;
}

#recipesbox option {
  color: #333;
}

#recipesbox > p:first-child:hover,
#recipesbox > p:last-child:hover {
  transform: rotate(200deg);
}

#reline {
  border-top: 2px solid #fff;
}

#lineout {
  margin: 20px 0;
  line-height: 100px;
}

#recipes #recipesbutton {
  padding: 10px;
  background-color: #020100;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 10px;
  font-family: "Concert One", cursive;
  font-size: 15px;
  box-shadow: 1px 1px;
}

#recipes #recipesbutton:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.1);
}

#recipes #leftbox {
  position: relative;
}

#recipes #raspberry {
  position: absolute;
  margin: 180px 130px;
  width: 270px;
}

#recipes #smash {
  position: absolute;
  margin: 390px 290px;
  width: 240px;
}

#recipes #sour {
  position: absolute;
  margin: 460px 20px;
}

#recipes #covertext {
  position: absolute;
  text-align: center;
  line-height: 80px;
  font-size: 18px;
  margin: 180px 65px;
  font-family: "Bacasime Antique", serif;
  color: #fff;
}

#story {
  margin: 0 auto;
  width: 100%;
  height: 785px;
  background-color: #e2d0b8;
  position: relative;
  overflow: hidden;
}
#story #t1 {
  /* padding-top: 100px; */
  position: relative;
  width: 100%;
  height: 100px;
}

#story #t1 p {
  float: left;
  height: 100%;
  font-family: "Cormorant", serif;
  font-size: 15pt;
  text-align: center;
  position: absolute;
}

#story #t1 p:first-child {
  top: 100%;
  left: 1.5%;
}

#story #t1 p:nth-child(2) {
  top: 100%;
  left: 30%;
}

#story #t1 p:nth-child(3) {
  top: 100%;
  left: 49%;
}

#story #t1 p:nth-child(4) {
  top: 100%;
  right: 29.2%;
}

#story #t1 p:last-child {
  top: 100%;
  right: 3%;
}

#story #t2 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px #555;
  width: 100%;
  height: 200px;
  position: relative;
  top: 20%;
}

#story #t2 p:nth-child(1) {
  font-size: 69pt;
  position: absolute;
  top: 0%;
  animation: direction 7s infinite alternate linear;
}

#story #t2 p:nth-child(2) {
  font-size: 50pt;
  position: absolute;
  bottom: 0%;
  animation: direction2 7s infinite alternate-reverse linear;
}

@keyframes direction {
  from {
    left: 0px;
  }

  to {
    left: 500px;
  }
}

@keyframes direction2 {
  from {
    left: 100px;
  }

  to {
    left: 750px;
  }
}

#story #t3 {
  text-align: center;
  position: relative;
  top: 30%;
  width: 100%;
  height: 25%;
  line-height: 30px;
  font-family: "Ysabeau SC", sans-serif;
}

#story #ourstory {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 10px;
  font-family: "Concert One", cursive;
  font-size: 15px;
  position: absolute;
  bottom: 0%;
  left: 47.5%;
  box-shadow: 1px 1px;
}

#story #ourstory:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.1);
}

#story #angels {
  position: absolute;
  bottom: -13.5%;
  left: -9%;
}

#story #th {
  position: absolute;
  bottom: -13%;
  left: 17%;
  width: 490px;
}

#story #old {
  position: absolute;
  bottom: -9%;
  right: 19%;
  width: 410px;
}

#story #maxwell {
  position: absolute;
  bottom: -12%;
  right: -10%;
  width: 480px;
}

#storyline {
  height: 175px;
  border-top: 1px solid #555;
  bottom: 0;
  background-color: #e2d0b8;
}

#process {
  margin: 0 auto;
  width: 100%;
  height: 475px;
  background-color: #e2c5b6;
}

#process p {
  text-align: center;
  font-size: 30pt;
  line-height: 90px;
  letter-spacing: 5px;
}

#process p:nth-of-type(3),
#process p:nth-of-type(4) {
  font-size: 13pt;
  line-height: 30px;
}

#process p:nth-of-type(3) {
  padding-top: 10px;
}

#process #processtext {
  padding-top: 70px;
}

#process #processtext p {
  font-family: "Ysabeau SC", sans-serif;
}

#process #sunset {
  height: 475px;
  float: left;
}

#process #ryeban {
  float: right;
  height: 475px;
}

#process #ourprocess {
  padding: 10px;
  background-color: #e2c5b6;
  border: 2px solid #333;
  border-radius: 10px;
  font-family: "Concert One", cursive;
  font-size: 15px;
  position: absolute;
  bottom: 50px;
  left: 37.5rem;
}

#process #ourprocess:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.1);
}

#banner {
  margin: 0 auto;
  width: 100%;
  height: 885px;
  background-color: #ccb18c;
}

#banner #collectionpng {
  position: absolute;
  bottom: 0;
  margin: -20px 180px;
}

#banner p {
  letter-spacing: 5px;
  font-family: "Pattaya", sans-serif;
}

#banner p:nth-of-type(1) {
  font-size: 100pt;
  padding: 80px 0 0 50px;
}

#banner p:nth-of-type(2) {
  font-size: 40pt;
  position: absolute;
  right: 0;
  font-family: "Diphylleia", serif;
}

footer {
  margin: 0 auto;
  width: 100%;
  height: 570px;
  background-color: #e2d0b8;
  box-shadow: 0px -15px 10px 0 #e2d0b8;
}

footer #free p {
  position: absolute;
  top: 130px;
  font-size: 30px;
  font-family: "Fjalla One", sans-serif;
}

footer #linetext {
  position: absolute;
  width: 100%;
  border-style: solid none solid none;
  border-color: #333;
  margin: 200px 0 0 0px;
  padding: 10px;
}

footer #linetext p {
  float: left;
  margin: 0 90px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
}

footer #linetext p:hover {
  cursor: zoom-in;
  transform: scale(1.1);
}

footer #linetext p:first-child {
  margin-left: 150px;
}

footer #explain p {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  padding-bottom: 60px;
  line-height: 30px;
  font-size: 13px;
  font-family: "Ysabeau SC", sans-serif;
}
