@charset "utf-8";

section{ margin: 0 auto; width: 100%; height: 700px; background: #f3f0e7;  }

section #product{ width: 30%; height: 699px; border-color: #666;  
    border-style: none solid solid none; border-width: 1px; float: left; }
#product> img{  width: 430px; margin: 55px 0px; }

section #explainpro{ width: 45%; height: 699px; border-color: #666;  
    border-style: none solid solid none; border-width: 1px; float: left; } 
#explainpro #extext{ margin: 180px 50px 0; }
#explainpro #extext h1{ font-family: 'Libre Baskerville', serif; font-size: 30px; 
    margin: 20px; } 
#explainpro #extext h1 small{ font-size: 20px; margin-left: 20px; }   
#explainpro #extext h1 small span{ font-size: 10px; }
#explainpro #extext p{ font-family: 'IBM Plex Sans KR', sans-serif; margin-left: 20px; }

#add{ margin: 130px 150px; }

#app{ border: 1px solid #999; width: 135px; height: 25px; float: left; margin-top: 15px;  }
/* height:50px */
#app .count{ float: left; }
#app .count:first-child{ border-right: 1px solid #999; }
#app .count:last-child{ float: right; border-left: 1px solid #999; }
#app button{ width: 45px; height: 23px; border: none; background: #f3f0e7; }
/* height:48px */

#explainpro #cart{ background: #333; color: #fff; width: 150px; height: 55px; 
    position: absolute; float: right; margin-left: 20px; }
#explainpro #cart:hover{ opacity: 0.7; cursor: pointer; }

section #subex{ width: 25%; height: 699px; float: left;  
    border-color: #666; border-style: none none solid none; 
    border-width: 1px; position: relative; }
#subex #subextext{ margin: 60px 10px 0 10px; }
#subex #subextext> h1{ margin: 30px 0 10px; line-height: 30px; margin-left: 5px; }   
#subex #subextext> a{ font-family: 'Ysabeau SC', sans-serif; font-weight: bold; padding: 10px; }
#subex #subextext> p{ font-family: 'Ysabeau SC', sans-serif; font-size: 13px; padding: 10px; 
    margin-bottom: 10px; }

#subextext> form{ margin: 50px 30px; }
#subextext> form> p{ font-family: 'Fjalla One', sans-serif; font-size: 15px; }
#subextext> form> #zip{ background: #f3f0e7; padding: 2px; border-radius: 7px; }
#subextext> form> #search{ background: #555; color: #fff; padding: 2px 5px; 
    border-radius: 7px; }
#subextext> form> #search:hover{ opacity: 0.7; cursor: pointer; }    

#subex #eximg{ position: absolute; display: flex; height: 100px; margin: 50px 0px 0 -15px; }
#subex #eximg .eximgt{ justify-content: space-evenly; align-content: space-evenly; }
#subex #eximg .eximgt:nth-of-type(1){ align-self: flex-end; }
#subex #eximg .eximgt:nth-of-type(1) p{ margin-left: 20px; }
#subex #eximg .eximgt:nth-of-type(2){ align-self: flex-end; margin-right: 20px; }
#subex #eximg .eximgt:nth-of-type(2) p{ margin-left: 30px; }
#subex #eximg .eximgt:nth-of-type(3){ align-self: flex-end; }
#subex #eximg img{ width: 100px; }  
#subex #eximg p{ font-size: 12px; font-family: 'Special Elite', cursive; margin: -20px 0 0; }             





#recipe{ background: #f3f0e7; }
.contentbox #color{ width: 100%; height: 50px; background: #e2d0b8; 
    border-bottom: 1px solid #666; }
.contentbox #color p{ font-size: 25px; font-family: 'Diphylleia', serif; font-weight: bold; 
    text-align: center; letter-spacing: 5px;
}





article{ margin: 0 auto; width: 100%; height: 830px; background: #f3f0e7; }
article #card{ position: absolute; margin: 100px 0 0 190px;
    background: #d7c597; border: 3px solid #333; border-collapse: collapse;
}
article th, article td{ border: 2px solid #b19f71; text-align: center;
    border-collapse: collapse; }    
article #card th{ font-family: 'Libre Baskerville', serif; }
article #card td{ font-family: 'IBM Plex Sans KR', sans-serif; font-size: 14px; }
article #card .side{ font-size: 10px; position: absolute; text-align: left; 
    margin: -100px 0 0 -80px; line-height: 50px; }
article #card #one{ position: absolute; width: 219px; height: 139px; 
    top: 0; right: 0; margin: 1px; }
article #card #two{ position: absolute; width: 179px; height: 120px; bottom: 0; 
    left: 0; margin: 1px; }
article #card #jackcoke{ width: 280px; z-index: 1; position: absolute;
    top: 0; left: 0; margin: 210px 0 0px 270px;
}
article #card #coke{ width: 170px; z-index: 2; position: absolute;
    top: 0; margin: 180px 0 0px 0px;
}  
article #card .ti{ font-size: 11px; }
article #card .eng{ text-align: left; padding: 10px; font-size: 12px;}    
article #card .eng p{ width: 33.33%; padding: 7px; float: left;}
article #card .eng p::first-letter{ font-size: 20px; }




#rv{ background: #f3f0e7; }
.contentbox #rvp{ width: 100%; height: 50px; background: #e2d0b8; 
    border-bottom: 1px solid #666; border-top: 1px solid #666; }
.contentbox #rvp p{ font-size: 25px; font-family: 'Diphylleia', serif; font-weight: bold; 
    text-align: center; letter-spacing: 5px;
}




#rvw{ margin: 0 auto; width: 100%; height: 700px; background: #f3f0e7; }
#review {position: absolute; height:400px; margin:30px 0 0 100px;}
#review select{ margin: 0 0 10px 90px; width: 80px; height: 25px; border-radius: 7px;
    font-family: 'IBM Plex Sans KR', sans-serif; background: #f3f0e7;
}
#review_tablebox table th {width:120px; border-style: solid solid solid none; 
    border-color: #333; color:#333; border-width: 1px;
    text-align: center;
}
#review_tablebox table td:first-of-type {width:580px; border-width: 1px;
    text-align: center; border-style: solid solid solid none; border-color: #333;
}
#review_tablebox table td:first-of-type > a {color:#333;}
#review_tablebox table td:nth-of-type(2) {width:80px; border-width: 1px;
    text-align: center; border-style: solid solid solid none; border-color: #333;}
#review_tablebox table td:nth-of-type(3) {width:120px; border-width: 1px;
    text-align: center; border-style: solid solid solid none; border-color: #333;}
#review_tablebox table td:last-of-type {border-width: 1px; width: 100px;
    text-align: center; border-style: solid none solid none; border-color: #333;}

#review > #review_tablebox form textarea{ background: #f3f0e7; margin:50px 0px 0 90px; }   
#review > #review_tablebox > form button {float:right; margin:20px 290px 0 0; width:120px; 
    height:30px; color:#fff; font-size:12px; background-color:#333; 
    border:1px solid #ddd;}
#review > #review_tablebox > form .filebox {float:right; margin: 20px 10px 0 0;
    font-size:12px; height: 30px;}
.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color:#fff; 
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color:#333;
    cursor: pointer;
    border:1px solid #ddd;
    border-radius: .25em;
}
          
.filebox input[type="file"] {  /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}        
#review > #review_tablebox > form button:hover {cursor:pointer;}

#review > #review_tablebox > table {display:inline-block; margin:0px 90px; 
    border-collapse: collapse; line-height:50px; width:1200px; font-size:13px; 
    color:#333; }